{% extends "layout.html" %}
  {% block title %}Video Style Transfer{% endblock %}
  {% block head %}
  {{ super() }}
 
      <style type="text/css">
        .main-container{
        background-image: url('static/images/newbg.jpg');
   filter: blur(10px);/* Add the blur effect */
  height: 200%; 
 /* Center and scale the image nicely */
  
     }
        
        .main-header{ display: flex;
  flex-basis: 14%;
   color: blue;
  font-weight: bold;
  position: absolute;
  top:13%;
  left:50%;
   transform: translate(-50%, -80%);
   z-index: 2;
  width: 100%;
  padding:20px 20px;
  text-align: right;
color:white;}
     #navbar{
     color:#fff;}

#navbar a{
  color:blue;
  
}


.showcase{
color:blue;
  top:23%;
 line-height: 3.5em;
 margin-left: 3em;
}

.style{

}
.style img{
width: 220px;
height: 220px;
margin:0 .4em;
transition: transform .2s;
}
.style img:hover{
transform: scale(1.2);
}
.mergebtn{
border-radius: 1em;
color:#de7845;
 cursor: pointer;
padding:.7em 4.5em;
margin-top: 2.4em;
font-size: .5em;
}
 
.mergebtn:hover{
  background-color: #ddd;
  color:#de7845;
}

 .click {
 
  cursor: pointer;
  outline: none;

}
.click:active {
  
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}/*Inbuilt file button stylizer supported only in chrome*/
::-webkit-file-upload-button{
  background: #ddd;
  border-radius: 1.2em;
  padding:10px 20px;
  color:blue;
  font-size:1.2em;
}
#mainfooter{position: absolute;
  background-image: none;
  top:0%;
  width:100%;
 
  text-align: center;
  height :auto;
  color: white;
border-top: 1px white solid;
margin:0 1em;
  padding:1.2em;
}

      </style>
      {% endblock %}

<body><div class="main-container">{% block container %}{% endblock %}</div>

<div class="showcase">
  {% block showcase %}
  <h1 align="center">Stylize Your Videos
  <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
<span>Step 1: Choose Input Video</span><br>
{{ form.input_video() }}
  {% if form.input_video.errors %}
    {% for error in form.input_video.errors%}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}
    {% endif %}
  <br> 
<span>Step 2: Choose Style Image</span>
  <div class="style" name="style">
  
    <img src="static/images/style6.jpg" class="click">
    <img src="static/images/style_1.jpg" class="click">
    <img src="static/images/style5.jpg" class="click">
    <img src="static/images/mosaic.jpg" class="click">
    <img src="static/images/schlief.jpg" class="click">
  </div>
    {{ form.submit(class="mergebtn") }} 

  </form>
{% endblock %}
</div>

